<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Políticas Públicas</title>
    <%- include("partials/head")%>
    <link href= "/assets/css/background.css" rel="stylesheet">
</head>

<div class="container p-4 mt-5 animated bounceInDown">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/<%=  image._id %>" method="POST" enctype="multipart/form-data">

                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="inputGroupFile02" autofocus required>
                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Selecciona imagen</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title">Título:</label>
                            <input type="text" name="title" placeholder="Título" class="form-control" value="<%= image.title %>" required>
                        </div>

                          <div class="form-group">
                              <label for="description">Descripción:</label>
                              <input type="text" name="description" class="form-control" placeholder="Descripción" value="<%= image.description %>" required>
                          </div>

                          <div class="form-group">
                            <label for="axis">Eje:</label>
                            <input type="text" name="axis" class="form-control" placeholder="Eje" value="<%= image.axis %>" required>
                        </div>

                        <div class="form-group">
                            <label for="status">Grado de cumplimiento:</label>
                            <select name="status" class="custom-select" id="status" required>
                              <option selected><%= image.status %></option>
                              <option>Sin iniciar</option>
                              <option>Rota</option>
                              <option>En proceso</option>
                              <option>Cumplida</option>
                            </select>    
                        </div>

                        <div class="form-group">
                            <label for="tweets">Fecha de actualización:</label>
                            <input type="date" name="presented" class="form-control" placeholder="Fecha presentación" required>
                        </div>

                        <div class="form-group">
                            <label for="tweets">Tendencias generadas:</label>
                            <input type="text" name="tweets" class="form-control" onkeyup="format(this)" onchange="format(this)" placeholder="Tweets" value="<%= image.tweets %>" required>
                        </div>

                        <div class="form-group">
                            <label for="radio">Radio y TV:</label>
                            <input type="text" name="radio" class="form-control" placeholder="Radio" value="<%= image.radio %>" required>
                        </div>

                        <div class="form-group">
                            <label for="tv">Prensa y portales:</label>
                            <input type="text" name="tv" class="form-control" placeholder="Prensa y portales" value="<%= image.tv %>" required>
                        </div>

                        <div class="form-group">
                            <label for="comments">Avances:</label>
                            <textarea type="text" rows="5" cols="70" name="comments" class="form-control" required><%= image.comments %></textarea>
                        </div>

                          <div class="form-group">
                              <button type="submit" class="btn btn-success btn-block">
                                Actualizar
                              </button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/assets/js/format.js"></script>
</body>
</html>